.title {
  margin-top: 80px ;
  margin-left: 30px;
  font-family: Acme, Helvetica, sans-serif;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.para {
    padding: 20px;
    margin: 20px;
    margin-right: 50px;
    border-style: outset;
    font-family:  Helvetica,sans-serif;
    width:700px;
}

.split {
  height: 100%;
  margin-top: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 60%;

}

.right {
  right: 0;
  width: 40%;
 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  margin-top: 40px;
  width: 400px;
 
}
/*list of trans img*/

* {
  box-sizing: border-box;
}

.column {
  margin-top: 400px;
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 60%;
}

/* Clearfix (clear floats) */
.row::after {

  content: "";
  clear: both;
  display: table;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}